- name: Install neovim build dependencies
  become: true
  ansible.builtin.package:
    name:
      - ninja-build
      - gettext
      - libtool-bin
      - cmake
      - g++
      - pkg-config
      - unzip
      - curl
    state: present
  tags: neovim

- name: Clone Neovim
  ansible.builtin.git:
    repo: "https://github.com/neovim/neovim.git"
    dest: "{{ lookup('env', 'HOME') }}/.config/neovim"
    update: true
    version: master
  register: neovim_repo
  tags: neovim

- name: Build neovim
  become: true
  ansible.builtin.command: make -j 20
  args:
    chdir: "{{ lookup('env', 'HOME') }}/.config/neovim"
  when: neovim_repo.changed
  tags: neovim

- name: Install neovim
  become: true
  ansible.builtin.command: make install
  args:
    chdir: "{{ lookup('env', 'HOME') }}/.config/neovim"
  when: neovim_repo.changed
  tags: neovim

- name: Clone nvim config
  ansible.builtin.git:
    repo: "https://github.com/blntrsz/nvim"
    dest: "{{ lookup('env', 'HOME') }}/.config/nvim"
    update: true
    version: master
  tags: neovim
